h1{
    text-align: center;
    font-size: 72px;
    margin-top: 10%;
    margin-bottom: 5%;
}

h2{
    margin-bottom: 5%;
}

.Iserv{
    width: 200px;
    height: 200px;
}

.Inoti{
    width: 300px;
    height: 300px;
}

h4{
    font-size: 34px;
}

.box{
    margin-left: 120px;
    width: 300px;
}
.lab{
    margin-left: 120px;
}

.fotolista{
    width: 300px;
    height: 300px;
    margin-left: 7%;
    margin-top: 7%;
}

.cajafiltro{
    margin-top: 25px;
    max-height: 650px;
}

.filtro{
    padding: 30px 50px;
    border: 2px solid black;
    border-radius: 25px;
}


@media (max-width: 1200px) {
    
    .Iserv{
        width: 150px;
        height: 150px;
        margin-bottom: 2%;
    }

    h1{
        font-size: 54px;
    }

    h2{
        margin-bottom: 2%;
    }

    .fotolista{
        width: 250px;
        height: 250px;
        margin-left: 7%;
        margin-top: 7%;
    }
}

@media (max-width: 980px) {
    .fotolista{
        width: 180px;
        height: 180px;
        margin-left: 7%;
        margin-top: 7%;
    }
    h1{
        margin-bottom: 10%;
    }
}

@media (max-width: 767px) {
    .lab{
        margin-left: 0;
    }
    .box{
        margin-left: 3%;
        width: 90%;
    }
    .Inoti{
        margin-left: 15%;
    }
    .fotolista{
        margin-left: 34%;
    }
    
}


@media (max-width: 400px) {
    .fotolista{
        width: 200px;
        height: 200px;
        margin-left: 14%;
    }
    .filtro{
        padding: 15px;
    }
    .Inoti{
        width: 250px;
        height: 250px;
        margin-left: 5%;
    }
    h1{
        margin-bottom: 20%;
    }
}
